<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fake Dropbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9827F8C1BC7076D00161CE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9827FA01BC7076E00161CE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9827FAB1BC7076E00161CE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
